*.pyc
/venv/*
!/venv/**/
/venv/Scripts/*
/venv/Lib/*
/venv/Include/*
!/venv/Lib/**
/venv/Lib/site-packages/*
!/venv/Lib/site-packages/six.py
/venv/Lib/site-packages/disqus/**
!/venv/Lib/site-packages/disqus/
/venv/Lib/site-packages/disqus/api.py
/venv/Lib/site-packages/disqus/models.py
/venv/Lib/site-packages/disqus/tests.py
/venv/Lib/site-packages/disqus/wxr_feed.py
!/venv/Lib/site-packages/disqus/__init__.py

__pycache__
.DS_Store
/.idea
/config/keys.py
